# Car Price Prediction
<br>

- All the data is scraped from the website of the Quikr (https://quikr.com).

### Importing Required Libraries and reading the Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_cars = pd.read_csv("quikr_car.csv")
df_cars.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [3]:
# Checking the Dataset Shape
df_cars.shape

(892, 6)

In [4]:
# Some information on dataset
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

**As we can see here, only in the columns `kms_driven` and `fuel_type` have null values**

In [5]:
df_cars["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [6]:
df_cars["Price"].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [7]:
df_cars["kms_driven"].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [8]:
df_cars["fuel_type"].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

## Quality Issues of the Dataset

- `Year` Column has many garbage values that are non-year values.
- We have to change Type of the Column `year` from Object to Int.
- We have to remove "Ask For Price" Value from the Column `price`.
- We have to change Type of the Column `price` from Object to Int.
- The column `kms_driven` has Integers attached with "kms".
- We have to change Type of the Column `kms_driven` from Object to Int.
- The column `fuel_type` has NaN Values ( Missing ).
- We will keep only first three words in the Column `Name`.

# Cleaning the Data

In [9]:
# Creating a Backup of the Data
df_backup = df_cars.copy()

### Issue No.1

In [10]:
df_cars = df_cars[df_cars["year"].str.isnumeric()]
df_cars.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

### Issue No. 2

In [11]:
df_cars["year"] = df_cars["year"].astype(int)

In [12]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

### Issue No. 3

In [13]:
df_cars = df_cars[df_cars["Price"] != "Ask For Price"]

In [14]:
df_cars.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel

### Issue No. 4

In [15]:
# Removing "," from the Price Column and COnverting it as Integer
df_cars["Price"] = df_cars["Price"].str.replace(",","").astype(int)
df_cars

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,"45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,"28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,"36,000 kms",Diesel
6,Ford Figo,Ford,2012,175000,"41,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,300000,"1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,"27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,"40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,180000,Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,160000,Petrol,NaN

### Issue No. 5

In [16]:
# Splitting and replacing "," with ""
df_cars["kms_driven"] = df_cars["kms_driven"].str.split(" ").str.get(0).str.replace(",","")

### Issue No. 6

In [17]:
# Removing "Petrol" from the above column and converting into int
df_cars = df_cars[df_cars["kms_driven"] != "Petrol"]
df_cars["kms_driven"] = df_cars["kms_driven"].astype(int)
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

C:\Users\Harshal\AppData\Local\Temp\ipykernel_144\2272660368.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cars["kms_driven"] = df_cars["kms_driven"].astype(int)

In [18]:
df_cars.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel

### Issue No. 7

In [19]:
df_cars = df_cars[~df_cars["fuel_type"].isna()]
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

### Issue No. 8

In [20]:
df_cars["name"] = df_cars["name"].str.split(" ").str.slice(0,3).str.join(" ")
df_cars.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6               Ford Figo      Ford  2012  175000       41000    Diesel

In [21]:
# Resetting the Index
df_cars.reset_index(inplace=True,drop=True)
df_cars

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

## Other EDA

In [22]:
df_cars.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

### Outlier Detection

**Here cars' prices has outlier which are more than 6 lakhs, so we will we filtering only the data that has price less than 6 lakhs as majority of the data **

In [23]:
# Outlier 
df_cars[df_cars["Price"]>6e6]

                   name   company  year    Price  kms_driven fuel_type
534  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

In [24]:
# Removing Outlier 
df_cars = df_cars[df_cars["Price"] < 6e6].reset_index(drop=True)
df_cars

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

### Saving the Cleaned Data to a `.csv` file

In [25]:
df_cars.to_csv("cleaned_data.csv")

# Model Building

In [26]:
# Splitting the Features and Target of the Dataset
X = df_cars.drop(columns="Price")
y = df_cars["Price"]

In [27]:
X.head()

                     name   company  year  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2       Hyundai Grand i10   Hyundai  2014       28000    Petrol
3  Ford EcoSport Titanium      Ford  2014       36000    Diesel
4               Ford Figo      Ford  2012       41000    Diesel

In [28]:
y.head()

0     80000
1    425000
2    325000
3    575000
4    175000
Name: Price, dtype: int32

## Splitting into Train Dataset and Test Dataset

In [96]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=661)

In [97]:
X_train.head()

                     name  company  year  kms_driven fuel_type
104  Maruti Suzuki Ertiga   Maruti  2013       42000    Diesel
433     Hyundai Elite i20  Hyundai  2015       28000    Petrol
802     Hyundai Elite i20  Hyundai  2018        2100    Petrol
666     Maruti Suzuki Zen   Maruti  2004      100000    Petrol
614       Hyundai Eon Era  Hyundai  2013       39700    Petrol

In [98]:
# Shape of Train and Test Features Dataframes after Splitting
X_train.shape, X_test.shape

((652, 5), (163, 5))

In [99]:
# Shape of Train and Test Target Series
y_train.shape, y_test.shape

((652,), (163,))

### Some Additional Imports

In [146]:
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer, make_column_transformer

## Further Building

In [147]:
# Columns
df_cars.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [148]:
# Categorical Features used for OneHotEncoder
categorical_feats = ["name","company","fuel_type"]

In [149]:
# Making a ColumnTransforner
ct = make_column_transformer(
    (OneHotEncoder(categories= ohe.categories_,handle_unknown="ignore"),categorical_feats),
    remainder="passthrough"
)

In [150]:
# Making a Pipeline of LinearRegression
pipe_lr = make_pipeline(ct,LinearRegression())

In [151]:
# Fitting the Training Data
pipe_lr.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)],
                                                                handle_unknown='ignore'),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [106]:
# Checking the Prediction
y_pred = pipe_lr.predict(X_test)

In [85]:
r2_score(y_test, y_pred)

0.7687315589885062

## Optimizing the `random_state` for best R2 Score.

In [129]:
# Loop for multiple Random State
scores = []
for i in range(1000,):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(ct,lr)
    pipe.fit(X_train,y_train)
    y_pred = pipe.predict(X_test)
    scores.append(r2_score(y_test, y_pred))

In [130]:
# Random state for the best Score
np.argmax(scores)

433

In [131]:
# Best R2 Score
scores[np.argmax(scores)]

0.8456515104452564

## Building a Model with Best `Random_State` with Splitting and Transformation

In [162]:
#Splitting
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=np.argmax(scores))
# LinearRegression Object
lr = LinearRegression()
# Pipeline to be Modelled+
pipe_lr = make_pipeline(ct, lr)
# Fitting
pipe_lr.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)],
                                                                handle_unknown='ignore'),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [163]:
# Checking the Prediction
y_pred = pipe_lr.predict(X_test)
y_pred

array([ 320076.97284304,  273186.38071432,  666851.7354192 ,
        479435.02135634,  344045.85895408,  336742.76701932,
        429554.22874875,  146879.201171  ,   19412.75228198,
        718356.18481851,  490872.94242211,  533227.09829126,
        675005.9166538 ,   15731.77943999,  486432.5936238 ,
        244784.33737267,  259877.53336358,  394529.85271225,
        202192.00465441,  259164.77456783,  433910.16909171,
        384771.44151641,  347230.96395574,  367838.31931522,
        431828.67312359,  -53307.15107412,  427209.71054118,
        137432.39866222,  403954.23019771,   25036.26706459,
        538204.9707484 ,  306194.98117554, 1157643.08701429,
        605086.26973625,  513204.79258716,  332104.35546727,
        114343.4272671 , 1579628.12835697,  534581.35191037,
        195606.06867801,  348585.60037741, -183439.88058727,
        507874.61267488, 1874681.83588085,  268214.32804435,
        218100.58509384,  104759.14104494,  316245.26215045,
        204369.90298524,  195996.05216824,   66076.42522981,
        622136.30880926,  100474.5162636 ,  262046.60430331,
        652963.10279557, 1644297.17564836,  280718.33390772,
        212934.37003474,  407282.73220576,  406516.75040324,
        205662.20313147,  290000.00131301,  441374.22986496,
        745938.7081122 ,  213785.04024712,  275828.5766774 ,
        259944.78266394,  288317.89662636,  606240.63857372,
        605086.26973625,  206809.56149411,  230739.10387339,
        107832.57783394,  418137.66524354,  630562.59934975,
        351755.28231277,   31183.14064256,  502104.88427421,
        100735.59004416,  574427.62684039,  196112.3803768 ,
         68839.59533396,  493045.95570757,  387647.11332798,
        456410.46620185,  766635.96751367, -238657.48435756,
        304548.60783394,  431500.81202697,  429923.59291518,
        325488.24901684,  247024.26018893, -131164.07077782,
        629784.27991034,  297710.53690385,  489054.21641557,
        -71399.45832778,  282258.21272264,  261147.27134255,
        286940.24592447,  164777.779182  ,  106803.57506533,
        278062.33653565,  166898.7569768 ,  337979.46359959,
        413400.26024986,  610038.25946838,  173739.22379006,
        699094.38542212,   42229.54466371,  217862.89705619,
        628482.56193672,  270367.58170952,  528211.49165555,
        275486.20162765,  333442.91790988,   98431.68877181,
        -67638.89957713,  578680.92583127,  387030.83181094,
        727142.78356609,  316893.11300699,  627369.43671899,
        474919.40098273,  282132.92861798, 1874462.30468164,
       1874462.30468164,  161298.36740362,  162372.68033917,
        248106.09199437,  -62337.70842774,   58281.89133835,
        273186.38071432,  303375.94038431,   30755.70145203,
        591827.14129539,  291876.28527144, 1545955.6776197 ,
        669562.59375037,  470541.53404384,  752089.08994026,
        416687.64265998,  591827.14129539,  357939.3890667 ,
        551072.15974505,  440700.11772398,  -29787.36806896,
        109513.74088441,  630035.96195145,  514287.76531158,
        507342.50219063,  554468.90946492,  -17852.97141004,
        535553.86167363, 1164350.87222284,  617010.45988074,
       1874681.83588085, 1874681.83588085,  369566.77652946,
        496731.1197413 ,  539926.07573541,  421161.25443432,
        626991.75479177])

In [164]:
# Best r2 Score Again
r2_score(y_test, y_pred)

0.8456515104452564

# Actual New Input from Customer (Working)

**AVAILABLE OPTIONS FOR CAR NAME:**

- Hyundai Santro Xing
- Mahindra Jeep CL550
- Hyundai Grand i10
- Ford EcoSport Titanium
- Ford Figo
- Hyundai Eon
- Ford EcoSport Ambiente
- Maruti Suzuki Alto
- Skoda Fabia Classic
- Maruti Suzuki Stingray
- Hyundai Elite i20
- Mahindra Scorpio SLE
- Audi A8
- Audi Q7
- Mahindra Scorpio S10
- Hyundai i20 Sportz
- Maruti Suzuki Vitara
- Mahindra Bolero DI
- Maruti Suzuki Swift
- Maruti Suzuki Wagon
- Toyota Innova 2.0
- Renault Lodgy 85
- Skoda Yeti Ambition
- Maruti Suzuki Baleno
- Renault Duster 110
- Renault Duster 85
- Honda City 1.5
- Maruti Suzuki Dzire
- Honda Amaze
- Honda Amaze 1.5
- Honda City
- Datsun Redi GO
- Maruti Suzuki SX4
- Mitsubishi Pajero Sport
- Honda City ZX
- Tata Indigo eCS
- Volkswagen Polo Highline
- Chevrolet Spark LS
- Renault Duster 110PS
- Mini Cooper S
- Skoda Fabia 1.2L
- Renault Duster
- Mahindra Scorpio S4
- Mahindra Scorpio VLX
- Mahindra Quanto C8
- Ford EcoSport
- Honda Brio
- Volkswagen Vento Highline
- Hyundai i20 Magna
- Toyota Corolla Altis
- Hyundai Verna Transform
- BMW 3 Series
- Maruti Suzuki A
- Toyota Etios GD
- Ford Figo Diesel
- Chevrolet Beat LT
- BMW 7 Series
- Mahindra XUV500 W8
- Hyundai i10 Magna
- Hyundai Verna Fluidic
- Maruti Suzuki Ertiga
- Honda Amaze 1.2
- Hyundai i20 Asta
- Maruti Suzuki Eeco
- Maruti Suzuki Esteem
- Maruti Suzuki Ritz
- Toyota Etios Liva
- Chevrolet Spark
- Nissan Micra XV
- Chevrolet Beat
- Ford EcoSport Trend
- Tata Indica V2
- Hindustan Motors Ambassador
- Toyota Innova 2.5
- Volkswagen Jetta Highline
- Volkswagen Polo Comfortline
- Volkswagen Polo
- Mahindra Scorpio
- Nissan Sunny
- Renault Kwid
- Chevrolet Spark LT
- Fiat Punto Emotion
- Hyundai i10 Sportz
- Chevrolet Beat LS
- Tata Indigo CS
- Hyundai Eon Era
- Mahindra XUV500
- Ford Fiesta
- Hyundai i20
- Hyundai Fluidic Verna
- Fiat Petra ELX
- Maruti Suzuki Ciaz
- Maruti Suzuki Zen
- Hyundai Creta 1.6
- Mahindra Scorpio SLX
- Tata Nano Cx
- Tata Sumo Victa
- Volkswagen Passat Diesel
- Renault Scala RxL
- Hyundai i20 Active
- Mahindra Xylo E4
- Mahindra Jeep MM
- Mahindra Bolero SLE
- Force Motors Force
- Toyota Etios
- Honda City VX
- Mahindra Thar CRDe
- Audi A4 1.8
- Mercedes Benz GLA
- Land Rover Freelander
- Renault Kwid RXT
- Tata Aria Pleasure
- Mercedes Benz B
- Datsun GO T
- Honda Jazz VX
- Chevrolet Tavera Neo
- Hyundai Eon Sportz
- Tata Sumo Gold
- Chevrolet Enjoy 1.4
- Nissan Terrano XL
- Maruti Suzuki Maruti
- Renault Kwid 1.0
- Hyundai Accent GLX
- Mahindra TUV300 T4
- Honda Accord
- Mahindra Scorpio 2.6
- Honda Mobilio
- Skoda Laura
- Tata Manza Aura
- Chevrolet Sail UVA
- Audi A4 2.0
- Hyundai Elantra SX
- Mahindra KUV100 K8
- Hyundai i10
- Hyundai Accent
- Hyundai Verna
- Toyota Fortuner
- Mahindra Bolero Power
- Skoda Rapid Elegance
- Tata Vista Quadrajet
- Chevrolet Beat Diesel
- Hyundai Verna 1.4
- Maruti Suzuki Versa
- Tata Indigo LX
- Volkswagen Vento Konekt
- Mercedes Benz C
- Maruti Suzuki Omni
- Hyundai Sonata Transform
- Honda Jazz S
- Mahindra Scorpio W
- Honda Brio V
- Mahindra TUV300 T8
- Nissan X Trail
- Ford Ikon 1.3
- Toyota Fortuner 3.0
- Tata Manza ELAN
- Mercedes Benz A
- Tata Indigo LS
- Hyundai Verna 1.6
- BMW 5 Series
- Skoda Superb 1.8
- Audi Q3 2.0
- Ford Figo Duratorq
- Mahindra Logan Diesel
- Tata Nano GenX
- Honda City SV
- Ford Figo Petrol
- Toyota Corolla H2
- Hyundai Xcent Base
- Hyundai Accent Executive
- Tata Zest XE
- Mahindra XUV500 W6
- Tata Tigor Revotron
- Maruti Suzuki 800
- Honda Mobilio S
- Tata Indica
- Honda Brio VX
- Tata Nano Lx
- Jaguar XE XE
- Hyundai Eon Magna
- Hyundai Eon D
- Maruti Suzuki Estilo
- Mahindra Scorpio Vlx
- Mitsubishi Lancer 1.8
- Ford Fiesta SXi
- Audi A6 2.0
- Hyundai Getz Prime
- Hyundai Santro
- Chevrolet Beat PS
- BMW X1 xDrive20d
- Tata Nano
- Chevrolet Cruze LTZ
- Mahindra XUV500 W10
- Hyundai Accent GLE
- Force Motors One
- Chevrolet Spark 1.0
- Renault Duster 85PS
- Chevrolet Enjoy
- Jeep Wrangler Unlimited
- Hyundai Verna VGT
- Maruti Suzuki Celerio
- Tata Zest Quadrajet
- Hyundai i10 Era
- Tata Indigo Marina
- Hyundai Xcent SX
- Tata Nano LX
- Mahindra Xylo E8
- Tata Manza Aqua
- Tata Venture EX
- Skoda Octavia Classic
- Ford Ikon 1.6
- Nissan Sunny XL
- Volkswagen Polo Trendline
- Hyundai Elantra 1.8
- Tata Indica eV2
- Jaguar XF 2.2
- Audi Q5 2.0
- BMW X1 sDrive20d
- Maruti Suzuki S
- Volkswagen Vento Comfortline
- Mahindra KUV100
- Volkswagen Jetta Comfortline
- Volvo S80 Summum
- BMW X1
- Renault Duster RxL
- Honda WR V
- Mahindra Scorpio LX
- Audi A3 Cabriolet
- Hyundai Santro AE
- Mahindra Xylo D2
- Hyundai Getz GLE
- Nissan Micra XL
- Chevrolet Tavera LS
- Tata Tiago Revotron
- Tata Tiago Revotorq
- Ford Fusion 1.4
- Fiat Linea Emotion
- Toyota Corolla
- Tata Sumo Grande
- Volkswagen Polo Highline1.2L
- Hyundai Creta
- Tata Bolt XM
- Datsun Go Plus
- Ford Endeavor 4x4
- Mahindra Logan
- Chevrolet Sail 1.2
- Tata Manza
- Toyota Etios G
- Toyota Qualis
- Mahindra Quanto C4
- Hyundai i20 Select
- Hyundai Getz
- Skoda Fabia
- Tata Zest XM

**AVAILABLE OPTIONS FOR COMPANY NAME:**

- Hyundai
- Mahindra
- Ford
- Maruti
- Skoda
- Audi
- Toyota
- Renault
- Honda
- Datsun
- Mitsubishi
- Tata
- Volkswagen
- Chevrolet
- Mini
- BMW
- Nissan
- Hindustan
- Fiat
- Force
- Mercedes
- Land
- Jaguar
- Jeep
- Volvo

**AVAILABLE OPTIONS FOR FUEL TYPE:**

- Petrol
- Diesel
- LPG

**AVAILABLE OPTIONS FOR YEAR**

- 2007
- 2006
-  2014
 - 2012
 - 2013
-  2016
 - 2015
-  2010
-  2017
-  2008
-  2018
-  2011
-  2019
-  2009
-  2005
-  2000
-  2003
-  2004
-  1995
-  2002
-  2001

In [200]:
print("=============================== CAR PRICE PREDICTION ===============================\n")
comp_name = input("Enter the Company Name: ")
car_name = input("Enter the Car Name: ")
fuel_type = input("Enter the Fuel Type: ")
year = int(input("Enter the year of Purchase: "))
kms_driven = int(input("Enter how much kms you driven till now: "))
print("==============================================================\n")
pred_price = predict_price(comp_name, car_name, fuel_type, year, kms_driven)
print("PREDICTED PRICE IS:", np.round(pred_price, 2), "Rupees")

=============================== CAR PRICE PREDICTION ===============================

Enter the Company Name: Hyundai
Enter the Car Name: Hyundai Getz GLE
Enter the Fuel Type: Petrol
Enter the year of Purchase: 2006
Enter how much kms you driven till now: 100
==============================================================

PREDICTED PRICE IS: 90180.95 Rupees

# Prediction of New Data From the Input from the User:

In [198]:
def predict_price(comp_name, car_name, fuel_type, year, kms_driven):
    pred_price = pipe_lr.predict(pd.DataFrame([[car_name, comp_name, year, kms_driven, fuel_type]], columns=["name","company","year","kms_driven","fuel_type"]))
    return float(pred_price)